

body, html
{
   height: 100%;
   margin: 0;
}
nav
{
    box-shadow: 0 0 0.25vw 0.5vh rgba(33, 32, 32, 0.75);
}
.bg
{
    background-image: linear-gradient( #e843c4 , #1f8470 );  
}
.inverseBg
{
    background-image: linear-gradient( #1f8470, #e843c4);  
}
.boxes
{
    box-shadow: 2px 2px 4px 4px rgba(33, 32, 32, 0.75);
    background-color: #2C2F33;
    border-radius: 8px;
}
.rboxes
{
    box-shadow: 2px 2px 4px 4px rgba(33, 32, 32, 0.75);
    background-color:#2C2F33;
    border-radius:5vw;
}
.fonts
{
    color:white;
    font-size:3vw;
    text-align:center;
    font-family: OCR A Std, monospace;
}
.fontbp
{
    color:white;
}

.smfonts
{
    color:white;
    font-size:1vw;
    text-align:center;
    font-family: OCR A Std, monospace;
}

.msgBox
{
    box-shadow: 2px 2px 4px 4px rgba(33, 32, 32, 0.75);
    border-radius: 8px;
    /* border-width: 0.25vw;  
    background-color:#2C2F33;*/
    font-size:1vw;
    color:white;
    text-align:center;
    font-family: OCR A Std, monospace;
}

.special{
    border-radius: 8px;
}